button {
  border: none;
  color: #fff;
  padding: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
  color: #437c90;
}
li,
ul {
  list-style-position: inside;
}
h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}
button {
  background: #faa275;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 5px;
}
button:hover {
  background: #437c90;
}
.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: #ffffff;
}
.centered-form__form {
  color: #437c90;
  background: #faa275;
  border: 1px solid #faa275;
  border-radius: 5px;
  padding: 0 20px;
  margin: 20px;
  width: 330px;
}
.form-field {
  margin: 20px 0;
}
.form-field label {
  display: block;
  margin-bottom: 7px;
}
.form-field input,
.form-field select {
  border: 1px solid #e1e1e1;
  padding: 10px;
  border-radius: 5px;
}
.chat {
  display: flex;
}
.chat__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
  min-width: 180px;
  height: 100vh;
}
.chat__footer,
.chat__sidebar li {
  background: #faa275;
  color: #1f4c69;
  padding: 10px;
}
.chat__sidebar h3 {
  color: #437c90;
  margin: 10px 20px;
  text-align: left;
}
.chat__sidebar li {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin: 10px;
}
.chat__main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.chat__messages {
  background-color: #ffffff;
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
}
img {
  max-width: 100px;
}
.chat__footer {
  display: flex;
  flex-shrink: 0;
  margin: 10px;
  border-radius: 10px;
}
.chat__footer form {
  flex-grow: 1;
  display: flex;
}
.chat__footer form * {
  margin-right: 10px;
}
.chat__footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
}
.message {
  padding: 10px;
}
.message__title {
  display: flex;
  margin-bottom: 5px;
}
.message__title h4 {
  font-weight: 600;
  margin-right: 10px;
}
.message__title span {
  color: #999;
}
@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }
  .chat__sidebar {
    display: none;
  }
  .chat__footer {
    flex-direction: column;
  }
  .chat__footer form {
    margin-bottom: 10px;
  }
  .chat__footer button {
    margin-right: 0;
  }
}

#table-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  border-right-color: #437c90;
  border-left-color: #437c90;
  border-top: 0ch;
  border-bottom: 0ch;
  width: 200%;
}

#clear {
  margin: 0 0 10px 0;
}

#lilGut {
  width: 23px;
  margin: 0 5px 0 0;
}

#feeling-btns {
  display: flex;
  flex-basis: 9%;
  flex-shrink: 0;
  justify-content: space-evenly;
}

#feeling-btns button {
  background-color: #faa275;
  min-width: 120px;
  border-radius: 10px;
  margin: 0 0 10px 0;
}

#chartContainer {
  height: 350px;
  margin: 0 50px 0 50px;
}

#name-of-room {
  margin: 10px 0 0 0;
  color: #437c90;
  font-size: 17pt;
}

#joinaroom {
  font-family: 'Oxygen', sans-serif;
  color: #437c90;
}
#footerimg {
  height: 20px;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #faa275;
  color: #437c90;
  text-align: center;
  line-height: 20pt;
}
